table td,
table th,
table td a {
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
}

.app {
	min-height: 100svh;
}

.error {
	background: red;

}

.success {
	background: green;
}

.error, .success {
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	font-weight: 500;
}

td hr{
    margin: 3px auto;
}

/*** ICONS ***/

.icon{
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 7px;
}
.icon path {
	fill: var(--pico-primary);
	stroke: var(--pico-primary);
}

@media (prefers-color-scheme: dark) {
	.icon path {
		fill: var(--pico-color);
		stroke: var(--pico-color);
	}
}

 a.active .icon path {
      fill: var(--pico-primary);
      stroke: var(--pico-primary);}